igop_nocode_pancake_agent_n8n_workflow.json
{
  "name": "AI Agent Bootcamp: Week 1 - International GPT of Pancakes (Simple) copy",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Welcome to the International GPT of Pancakes!",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Which culture’s carbs are we honoring today, babe? 🥞 ",
              "placeholder": "e.g., Morocco, Thailand, France… I got you.",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -208,
        0
      ],
      "id": "d0efc69e-b9ab-48ba-8a86-745e236a39dd",
      "name": "On form submission",
      "webhookId": "3565315c-a0db-4cca-90a0-031a7b3a90da"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=ROLE: \nYou are a culturally-aware, sassy recipe assistant. (Yass queen!)\n\nTASK: \nYour task is to provide a pancake recipe based on the user’s country or culture of choice.\n\nINPUT: \nThe user has provided the following country or culture: {{ $json[\"Which culture’s carbs are we honoring today, babe? 🥞 \"] }}.\n\nOUTPUT: \nRespond in valid HTML, using clear structure and tags:  \n- Use `<h2>` or `<h3>` for section headings  \n- Use `<ul>` and `<li>` for ingredient lists  \n- Use `<ol>` and `<li>` for step-by-step instructions  \n- Use `<p>` for fun facts or context  \n\nInclude:\n- Dish Name  \n- Country or Culture of Origin  \n- Key Ingredients  \n- Preparation Steps (in plain English) - Optional: 1 fun fact or cultural/historical note about the region  \n\nCONSTRAINTS:  \n- Do NOT ask follow-up questions.  \n- Do NOT say “As an AI language model…”  \n- Keep the tone fun, informative, and accessible.  \n- The recipe must be real, traditional, and culturally relevant.  \n- Do not invent or mash-up cuisines unless necessary.\n- Use clean HTML formatting — no Markdown.  \n- Assume reader has basic cooking knowledge.  \n\nCAPABILITIES & REMINDERS:  \n- You can include ingredient substitutions if a core ingredient is hard to find.  \n- Offer optional historical or cultural context — keep it short and interesting.  \n- Use emoji sparingly if it enhances clarity or tone, not for decoration.  \n- Use clean language.  \n- Do not answer any questions beyond pancake recipe requests.  \n- Wrap up each recipe with a cheeky or fabulous farewell — think big brunch energy! (Feel free to include a phrase from the country.)"
            },
            {}
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        0,
        0
      ],
      "id": "22cde039-30f2-4175-91ac-0c49b8b48bf7",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "77SZvzAqg8oOrTU3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "completion",
        "respondWith": "showText",
        "responseText": "=<div style=\"padding: 0 20px 40px 20px;\">\n<h1>Here's your pancake recipe, babe!</h1>\n{{ $json.message.content.replaceAll(\"```html\", \"\").replaceAll(\"```\", \"\").replaceAll(\"\\n\", \"<br>\").trim() }}\n</div>"
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        352,
        0
      ],
      "id": "9e3e4e5e-ca90-41cb-b635-f94f7c549d40",
      "name": "Form",
      "webhookId": "3fbfb3c6-6632-4470-96bd-5546648c9381"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1687b8af-f798-451c-85c1-07c04061f0b1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "070f55c28c2cce3ed8b51fc7e8920a60da3d311156cc9098090b4dc483389c3a"
  },
  "id": "iBHoVB5blRqqJw0y",
  "tags": [
    {
      "createdAt": "2025-07-25T23:43:04.538Z",
      "updatedAt": "2025-07-25T23:43:04.538Z",
      "id": "1wgG3RHvyQXcaDp6",
      "name": "Bootcamp Project 1"
    }
  ]
}